<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<script type=text/javascript src="$base/templates/js/left-tree-js.js"></script>
<link href="$base/templates/css/left-tree.css" rel="stylesheet" type="text/css" id="css"> 
<script type="text/javascript">
//alert("left页面！")
	function MM_swapImgRestore() { //v3.0
	  var i,x,a=document.MM_sr; 
	  for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) 
	  x.src=x.oSrc;
	}

	function MM_findObj(n, d) { //v4.01
	  var p,i,x; 
	   if(!d) d=document; 
	   if((p=n.indexOf("?"))>0&&parent.frames.length)
	    {
		d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);
		}
	  if(!(x=d[n])&&d.all) x=d.all[n];
	   for (i=0;!x&&i<d.forms.length;i++)
	    x=d.forms[i][n];
	  for(i=0;!x&&d.layers&&i<d.layers.length;i++)
	   x=MM_findObj(n,d.layers[i].document);
	  if(!x && d.getElementById)
	   x=d.getElementById(n);
	    return x;
	}
	
	function MM_swapImage() { //v3.0
	  var i,j=0,x,a=MM_swapImage.arguments; 
	  document.MM_sr=new Array; 
	  for(i=0;i<(a.length-2);i+=3)
	   if ((x=MM_findObj(a[i]))!=null)
	   {document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
	}
	
</script>

</head>

<body leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
	<div id="PARENT">
	  <ul id="nav"> 
   
    #if($resourceid=="1")
    #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='11')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenu1" onclick="DoMenu('ChildMenu1')">系统管理</a>
		 				<ul id="ChildMenu1" class="collapsed">
		#end
	 #end
             #foreach($temp in $session.getAttribute("reslist"))
                 #if($temp.getResourceno()=='111')
                    <li>
 						<table width="98%" border="0" cellspacing="0" cellpadding="0">
  							<tr>
    							<td align="center"><a href="$base/enterpriseentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','$base/templates/image/left01-1.gif',1)"><img src="$base/templates/image/left01.gif" name="Image1" width="37" height="37" border="0" id="Image1" /></a><a href="$base/enterpriseentry.action" target="mainFrame" >企业管理</a>
                                </td>
  							</tr>
  
						</table>
 
					</li>
                    #end
                     #if($temp.getResourceno()=='112')
          
            <li>
 						<table width="98%" border="0" cellspacing="0" cellpadding="0">
  							<tr>
    							<td align="center"><a href="$base/deptentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','$base/templates/image/left02-1.gif',1)"><img src="$base/templates/image/left02.gif" name="Image2" width="37" height="37" border="0" id="Image2" /></a><a href="$base/deptentry.action" target="mainFrame" >机构管理</a>
                                </td>
  							</tr>
  
						</table>
 
					</li>
          #end
                     #if($temp.getResourceno()=='113')
            <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/resourceentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','$base/templates/image/left03-1.gif',1)"><img src="$base/templates/image/left03.gif" name="Image3" width="37" height="37" border="0" id="Image3" /></a><a href="$base/resourceentry.action" target="mainFrame" >资源管理</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
             #end
                     #if($temp.getResourceno()=='114')
             <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/permissionentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','$base/templates/image/left04-1.gif',1)"><img src="$base/templates/image/left04.gif" name="Image4" width="37" height="37" border="0" id="Image4" /></a><a href="$base/permissionentry.action" target="mainFrame" >权限管理</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
             #end
                     #if($temp.getResourceno()=='115')
              <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/roleentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','$base/templates/image/left05-1.gif',1)"><img src="$base/templates/image/left05.gif" name="Image5" width="37" height="37" border="0" id="Image5" /></a><a href="$base/roleentry.action" target="mainFrame" >角色管理</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
            #end
                     #if($temp.getResourceno()=='116')
              <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/userentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','$base/templates/image/left06-1.gif',1)"><img src="$base/templates/image/left06.gif" name="Image6" width="37" height="37" border="0" id="Image6" /></a><a href="$base/userentry.action" target="mainFrame" >用户管理</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
             #end
                     #if($temp.getResourceno()=='117')
        
               <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/userpwdentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','$base/templates/image/left07-1.gif',1)"><img src="$base/templates/image/left07.gif" name="Image7" width="37" height="37" border="0" id="Image7" /></a><a href="$base/userpwdentry.action" target="mainFrame" >密码修改</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
               #end
       
        #end
       
		#if($temp1==1)
				</ul>
			</li>
		#end
        
     #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='12')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenu2" onclick="DoMenu('ChildMenu2')">数据字典</a>
		 				<ul id="ChildMenu2" class="collapsed">
		#end
	#end
       #foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='121')
            <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/dmzdentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','$base/templates/image/left08-1.gif',1)"><img src="$base/templates/image/left08.gif" name="Image8" width="37" height="37" border="0" id="Image8" /></a><a href="$base/dmzdentry.action" target="mainFrame" >代码字典</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
                     #end
                   
                     #if($temp.getResourceno()=='122')
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/hyzdentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image0b','','$base/templates/image/left0b-1.gif',1)"><img src="$base/templates/image/left0b.gif" name="Image0b" width="37" height="37" border="0" id="Imageb" /></a><a href="$base/hyzdentry.action" target="mainFrame" >行业字典</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
                    #end
                     #if($temp.getResourceno()=='123')
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/nyzdentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image0d','','$base/templates/image/left0d-1.gif',1)"><img src="$base/templates/image/left0d.gif" name="Image0d" width="37" height="37" border="0" id="Image0d" /></a><a href="$base/nyzdentry.action" target="mainFrame" >能源字典</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
                     #end
                     #if($temp.getResourceno()=='124')
                     <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/nhzbzdentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image12','','$base/templates/image/left0e-1.gif',1)"><img src="$base/templates/image/left0e.gif" name="Image0e" width="37" height="37" border="0" id="Image0e" /></a><a href="$base/nhzbzdentry.action" target="mainFrame" >能耗指标字典</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
                     #end
                     #if($temp.getResourceno()=='125')
                     <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/sblbzdentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image0f','','$base/templates/image/left0f-1.gif',1)"><img src="$base/templates/image/left0f.gif" name="Image0f" width="37" height="37" border="0" id="Image0f" /></a><a href="$base/sblbzdentry.action" target="mainFrame" >设备字典</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
                    #end
            #end       
       
		#if($temp1==1)
				</ul>
			</li>
		#end
#end

#if($resourceid=="a")
    #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='a1')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenua1" onclick="DoMenu('ChildMenua1')">直报系统信息采集</a>
		 				<ul id="ChildMenua1" class="collapsed">
		#end
	 #end
                    <li>
 						<table width="98%" border="0" cellspacing="0" cellpadding="0">
  							<tr>
    							<td align="center"><a href="$base/templates/energy/report/excelimport.jsp" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagea1','','$base/templates/image/lefta1-1.gif',1)"><img src="$base/templates/image/lefta1.gif" name="Imagea1" width="37" height="37" border="0" id="Imagea1" /></a><a href="$base/templates/energy/report/excelimport.jsp" target="mainFrame" >直报系统信息采集</a>
                                </td>
  							</tr>
  
						</table>
 
					</li>
          
           
		#if($temp1==1)
				</ul>
			</li>
		#end
        
     #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='a2')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenua2" onclick="DoMenu('ChildMenua2')">能源消耗月度汇总</a>
		 				<ul id="ChildMenua2" class="collapsed">
		#end
	#end
                   <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/templates/energy/report/rpt_map.jsp" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagea2','','$base/templates/image/lefta2-1.gif',1)"><img src="$base/templates/image/lefta2.gif" name="Imagea2" width="37" height="37" border="0" id="Imagea2" /></a><a href="$base/templates/energy/report/rpt_map.jsp" target="mainFrame" >能源消耗数据查询</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li> 
 					
 					
 					  <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/cyMonthEnyRptCmpCount.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagea6','','$base/templates/image/lefta6-1.gif',1)"><img src="$base/templates/image/lefta6.gif" name="Imagea6" width="37" height="37" border="0" id="Imagea6" /></a><a href="$base/cyMonthEnyRptCmpCount.action" target="mainFrame" >能源消耗月报汇总</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
            
              <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/fMonthEnyRptCmpCount.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagea6','','$base/templates/image/lefta6-1.gif',1)"><img src="$base/templates/image/lefta6.gif" name="Imagea6" width="37" height="37" border="0" id="Imagea6" /></a><a href="$base/fMonthEnyRptCmpCount.action" target="mainFrame" >县市区能源消耗月报汇总</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
            <!--
              <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/ctyMonthEnyRptCmpCount.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagea6','','$base/templates/image/lefta6-1.gif',1)"><img src="$base/templates/image/lefta6.gif" name="Imagea6" width="37" height="37" border="0" id="Imagea6" /></a><a href="$base/ctyMonthEnyRptCmpCount.action" target="mainFrame" >县市区能源消耗月报汇总</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
                    -->
                     <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/cityFqEnyRptUnitCount.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagea6','','$base/templates/image/lefta6-1.gif',1)"><img src="$base/templates/image/lefta6.gif" name="Imagea6" width="37" height="37" border="0" id="Imagea6" /></a><a href="$base/cityFqEnyRptUnitCount.action" target="mainFrame" >单位产品综合能耗指标汇总</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
            <!--
            <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/countyEnyRptUnitCount.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagea7','','$base/templates/image/lefta7-1.gif',1)"><img src="$base/templates/image/lefta7.gif" name="Imagea7" width="37" height="37" border="0" id="Imagea7" /></a><a href="$base/countyEnyRptUnitCount.action" target="mainFrame" >县市区单位产品综合能耗指标汇总</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
                  -->
       
		#if($temp1==1)
				</ul>
			</li>
		#end
        
    #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='a3')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenua3" onclick="DoMenu('ChildMenua3')">能源消耗数据汇总</a>
		 				<ul id="ChildMenua3" class="collapsed">
		#end
	#end
            <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/cityMonthEnyRptCmpCount.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagea3','','$base/templates/image/lefta3-1.gif',1)"><img src="$base/templates/image/lefta3.gif" name="Imagea3" width="37" height="37" border="0" id="Imagea3" /></a><a href="$base/cityMonthEnyRptCmpCount.action" target="mainFrame" >全市综合能耗汇总</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
            <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/fqMonthEnyRptCmpCount.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagea4','','$base/templates/image/lefta4-1.gif',1)"><img src="$base/templates/image/lefta4.gif" name="Imagea4" width="37" height="37" border="0" id="Imagea4" /></a><a href="$base/fqMonthEnyRptCmpCount.action" target="mainFrame" >县市区综合能耗汇总</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
            <!--
            <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/countyMonthEnyRptCmpCount.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagea5','','$base/templates/image/lefta5-1.gif',1)"><img src="$base/templates/image/lefta5.gif" name="Imagea5" width="37" height="37" border="0" id="Imagea5" /></a><a href="$base/countyMonthEnyRptCmpCount.action" target="mainFrame" >县市区综合能耗汇总</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
           -->
                   
       
		#if($temp1==1)
				</ul>
			</li>
		#end
        
#end


#if($resourceid=="b")
    #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='b1')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenub1" onclick="DoMenu('ChildMenub1')">全市能耗状况分析</a>
		 				<ul id="ChildMenub1" class="expended">
		#end
	 #end
                    <li>
 						<table width="98%" border="0" cellspacing="0" cellpadding="0">
  							<tr>
    							<td align="center"><a href="$base/energyUse.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imageb1','','$base/templates/image/leftb1-1.gif',1)"><img src="$base/templates/image/leftb1.gif" name="Imageb1" width="37" height="37" border="0" id="Imageb1" /></a><a href="$base/energyUse.action" target="mainFrame" >重点能耗指标</a>
                                </td>
  							</tr>
  
						</table>
 
					</li>
                     <li>
 						<table width="98%" border="0" cellspacing="0" cellpadding="0">
  							<tr>
    							<td align="center"><a href="$base/energyConsumeStruct.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imageb2','','$base/templates/image/leftb2-1.gif',1)"><img src="$base/templates/image/leftb2.gif" name="Imageb2" width="37" height="37" border="0" id="Imageb2" /></a><a href="$base/energyConsumeStruct.action" target="mainFrame" >能源消费结构</a>
                                </td>
  							</tr>
  
						</table>
 
					</li>
                     <li>
 						<table width="98%" border="0" cellspacing="0" cellpadding="0">
  							<tr>
    							<td align="center"><a href="$base/energyCZConsume.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imageb3','','$base/templates/image/leftb3-1.gif',1)"><img src="$base/templates/image/leftb3.gif" name="Imageb3" width="37" height="37" border="0" id="Imageb3" /></a><a href="$base/energyCZConsume.action" target="mainFrame" >年度产值能耗</a>
                                </td>
  							</tr>
  
						</table>
 
					</li>
					<!--
                     <li>
 						<table width="98%" border="0" cellspacing="0" cellpadding="0">
  							<tr>
    							<td align="center"><a href="$base/energyEconomicZb.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imageb4','','$base/templates/image/leftb4-1.gif',1)"><img src="$base/templates/image/leftb4.gif" name="Imageb4" width="37" height="37" border="0" id="Imageb4" /></a><a href="$base/energyEconomicZb.action" target="mainFrame" >年度经济指标</a>
                                </td>
  							</tr>
  
						</table>
 
					</li>
          			-->
           
		#if($temp1==1)
				</ul>
			</li>
		#end
     
        
#end


#if($resourceid=="c")
   
    #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='c1')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenuc1" onclick="DoMenu('ChildMenuc1')">预警</a>
		 				<ul id="ChildMenuc1" class="expended">
		#end
	#end
            <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/dhyjEntry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagec1','','$base/templates/image/leftc1-1.gif',1)"><img src="$base/templates/image/leftc1.gif" name="Imagec1" width="37" height="37" border="0" id="Imagec1" /></a><a href="$base/dhyjEntry.action" target="mainFrame" >单耗预警</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
            <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/jnlEntry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagec2','','$base/templates/image/leftc2-1.gif',1)"><img src="$base/templates/image/leftc2.gif" name="Imagec2" width="37" height="37" border="0" id="Imagec2" /></a><a href="$base/jnlEntry.action" target="mainFrame" >节能量预警</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
             <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/queryZlyj.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagec3','','$base/templates/image/leftc3-1.gif',1)"><img src="$base/templates/image/leftc3.gif" name="Imagec3" width="37" height="37" border="0" id="Imagec3" /></a><a href="$base/queryZlyj.action" target="mainFrame" >总量预警</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
            <!--
             <li>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center"><a href="$base/energytrendanalysis.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagec4','','$base/templates/image/leftc4-1.gif',1)"><img src="$base/templates/image/leftc4.gif" name="Imagec4" width="37" height="37" border="0" id="Imagec4" /></a><a href="$base/energytrendanalysis.action" target="mainFrame" >能耗趋势预测分析</a>
                        </td>
                     </tr>
    
                </table>
    
            </li>
       		-->
		#if($temp1==1)
				</ul>
			</li>
		#end
        
#end

#if($resourceid=="d")
    #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='d1')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenud1" onclick="DoMenu('ChildMenud1')">节能标准规范</a>
		 				<ul id="ChildMenud1" class="expended">
		#end
	 #end
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/legislation/legislationentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imaged1','','$base/templates/image/leftd1-1.gif',1)"><img src="$base/templates/image/leftd1.gif" name="Imaged1" width="37" height="37" border="0" id="Imaged1" /></a><a href="$base/legislation/legislationentry.action" target="mainFrame" >节能标准规范管理</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
                 <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/legislation/legislationparententry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imaged2','','$base/templates/image/leftd2-1.gif',1)"><img src="$base/templates/image/leftd2.gif" name="Imaged2" width="37" height="37" border="0" id="Imaged2" /></a><a href="$base/legislation/legislationparententry.action" target="mainFrame" >节能标准规范查询</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
       
		#if($temp1==1)
				</ul>
			</li>
		#end
#end


#if($resourceid=="e")
    #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='e1')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenud1" onclick="DoMenu('ChildMenud1')">年度查询</a>
		 				<ul id="ChildMenud1" class="collapsed">
		#end
	 #end
                    <li>
 						<table width="98%" border="0" cellspacing="0" cellpadding="0">
  							<tr>
    							<td align="center"><a href="$base/queryYearEntry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagee1','','$base/templates/image/lefte1-1.gif',1)"><img src="$base/templates/image/lefte1.gif" name="Imagee1" width="37" height="37" border="0" id="Imagee1" /></a><a href="$base/queryYearEntry.action" target="mainFrame" >年度指标查询</a>
                                </td>
  							</tr>
  
						</table>
 
					</li>
           
           
		#if($temp1==1)
				</ul>
			</li>
		#end
        
     #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='e2')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenue2" onclick="DoMenu('ChildMenue2')">月度查询</a>
		 				<ul id="ChildMenue2" class="collapsed">
		#end
	#end
            <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/queryMonthEntry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagee3','','$base/templates/image/lefte3-1.gif',1)"><img src="$base/templates/image/lefte3.gif" name="Imagee3" width="37" height="37" border="0" id="Imagee3" /></a><a href="$base/queryMonthEntry.action" target="mainFrame" >月度指标查询</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
           
       
		#if($temp1==1)
				</ul>
			</li>
		#end
        
     #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='e3')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenud3" onclick="DoMenu('ChildMenud3')">能源负责人查询</a>
		 				<ul id="ChildMenud3" class="collapsed">
		#end
	 #end
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryFzr.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagee3','','$base/templates/image/lefte3-1.gif',1)"><img src="$base/templates/image/lefte3.gif" name="Imagee3" width="37" height="37" border="0" id="Imagee3" /></a><a href="$base/entryFzr.action" target="mainFrame" >能源负责人查询</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>


       		

		#if($temp1==1)
				</ul>
			</li>
		#end
		
         #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='e4')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenue4" onclick="DoMenu('ChildMenue4')">企业个数统计</a>
		 				<ul id="ChildMenue4" class="collapsed">
		#end
	#end
            <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/enterpriseCount.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagee3','','$base/templates/image/lefte3-1.gif',1)"><img src="$base/templates/image/lefte3.gif" name="Imagee3" width="37" height="37" border="0" id="Imagee3" /></a><a href="$base/enterpriseCount.action" target="mainFrame" >企业个数统计</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
           
       
		#if($temp1==1)
				</ul>
			</li>
		#end
#end



#if($resourceid=="f")
    #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='f1')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenuf1" onclick="DoMenu('ChildMenuf1')">节能审查项目</a>
		 				<ul id="ChildMenuf1" class="collapsed">
		#end
	 #end
                <!--新加的 能评机构===========================开始==========================-->
	 			#if(true)
	 				<li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryauditcompany.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imaged2','','$base/templates/image/leftd2-1.gif',1)"><img src="$base/templates/image/leftd2.gif" name="Imagef0" width="37" height="37" border="0" id="Imagef0" /></a><a href="$base/entryauditcompany.action" target="mainFrame" >能评机构</a>
                                </td>
         					 </tr>
    					</table>
 					</li>
 				#end
 				<!--新加的 能评机构===========================结束==========================-->
         #foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='f11')
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/jnprojectentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef1','','$base/templates/image/leftf1-1.gif',1)"><img src="$base/templates/image/leftf1.gif" name="Imagef1" width="37" height="37" border="0" id="Imagef1" /></a><a href="$base/jnprojectentry.action" target="mainFrame" >审查通过项目管理</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
           #end
           #if($temp.getResourceno()=='f12')
                 <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/jnrejectprojectentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef2','','$base/templates/image/leftf2-1.gif',1)"><img src="$base/templates/image/leftf2.gif" name="Imagef2" width="37" height="37" border="0" id="Imagef2" /></a><a href="$base/jnrejectprojectentry.action" target="mainFrame" >拒批项目管理</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
           #end
           #if($temp.getResourceno()=='f13')
                 <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/jncomplateprojectentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef3','','$base/templates/image/leftf3-1.gif',1)"><img src="$base/templates/image/leftf3.gif" name="Imagef3" width="37" height="37" border="0" id="Imagef3" /></a><a href="$base/jncomplateprojectentry.action" target="mainFrame" >竣工项目管理</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
            #end
           #if($temp.getResourceno()=='f14')
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/jnacceptprojectentry.action" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef4','','$base/templates/image/leftf4-1.gif',1)"><img src="$base/templates/image/leftf4.gif" name="Imagef4" width="37" height="37" border="0" id="Imagef4" /></a><a href="$base/jnacceptprojectentry.action" target="mainFrame" >验收项目管理</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
              #end   
       #end
		#if($temp1==1)
				</ul>
			</li>
		#end
        
        
    #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='f2')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenuf2" onclick="DoMenu('ChildMenuf2')">工业类项目汇总统计</a>
		 				<ul id="ChildMenuf2" class="collapsed">
		#end
	 #end
     #foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='f21')
                     <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnprojamount?choice=unit" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef5','','$base/templates/image/leftf21-1.gif',1)"><img src="$base/templates/image/leftf21.gif" name="Imagef5" width="37" height="37" border="0" id="Imagef5" /></a><a href="$base/entryjnprojamount?choice=unit" target="mainFrame" >按填报机构</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
              #end  
              #if($temp.getResourceno()=='f22')    
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnprojamount?choice=month" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef6','','$base/templates/image/leftf22-1.gif',1)"><img src="$base/templates/image/leftf22.gif" name="Imagef6" width="37" height="37" border="0" id="Imagef6" /></a><a href="$base/entryjnprojamount?choice=month" target="mainFrame" >按填报月份</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
             #end  
              #if($temp.getResourceno()=='f23')   
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnprojamount?choice=percent" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef7','','$base/templates/image/leftf23-1.gif',1)"><img src="$base/templates/image/leftf23.gif" name="Imagef7" width="37" height="37" border="0" id="Imagef7" /></a><a href="$base/entryjnprojamount?choice=percent" target="mainFrame" >本月累计值占比</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
               #end   
               #if($temp.getResourceno()=='f24')   
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnprojamount?choice=yetpercent" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef8','','$base/templates/image/leftf23-1.gif',1)"><img src="$base/templates/image/leftf23.gif" name="Imagef8" width="37" height="37" border="0" id="Imagef8" /></a><a href="$base/entryjnprojamount?choice=yetpercent" target="mainFrame" >本月止累计值占比</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
               #end 
       #end
         <!--环比===========================开始==========================-->
               		<li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnprojamount?choice=linkrelative" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef8','','$base/templates/image/leftf03-2.jpg',1)"><img src="$base/templates/image/leftf03-2.jpg" name="Imagef8" width="37" height="37" border="0" id="Imagef8" /></a><a href="$base/entryjnprojamount?choice=linkrelative" target="mainFrame" >本月累计值环比</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
 					<li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnprojamount?choice=yetlinkrelative" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef8','','$base/templates/image/leftf03-2.jpg',1)"><img src="$base/templates/image/leftf03-2.jpg" name="Imagef8" width="37" height="37" border="0" id="Imagef8" /></a><a href="$base/entryjnprojamount?choice=yetlinkrelative" target="mainFrame" >本月止累计值环比</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
 		<!--环比===========================结束==========================-->
		#if($temp1==1)
				</ul>
			</li>
		#end
		<!--非工业类===========================开始==========================-->
        <li><a href="#Menu=ChildMenuf22" onclick="DoMenu('ChildMenuf22')">非工业类项目汇总统计</a>
		 		<ul id="ChildMenuf22" class="collapsed">
		 			<li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnnonprojamount?choice=unit" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef5','','$base/templates/image/leftf21-1.gif',1)"><img src="$base/templates/image/leftf21.gif" name="Imagef5" width="37" height="37" border="0" id="Imagef5" /></a><a href="$base/entryjnnonprojamount?choice=unit" target="mainFrame" >按填报机构</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnnonprojamount?choice=month" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef6','','$base/templates/image/leftf22-1.gif',1)"><img src="$base/templates/image/leftf22.gif" name="Imagef6" width="37" height="37" border="0" id="Imagef6" /></a><a href="$base/entryjnnonprojamount?choice=month" target="mainFrame" >按填报月份</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnnonprojamount?choice=percent" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef7','','$base/templates/image/leftf23-1.gif',1)"><img src="$base/templates/image/leftf23.gif" name="Imagef7" width="37" height="37" border="0" id="Imagef7" /></a><a href="$base/entryjnnonprojamount?choice=percent" target="mainFrame" >本月累计值占比</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnnonprojamount?choice=yetpercent" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef8','','$base/templates/image/leftf23-1.gif',1)"><img src="$base/templates/image/leftf23.gif" name="Imagef8" width="37" height="37" border="0" id="Imagef8" /></a><a href="$base/entryjnnonprojamount?choice=yetpercent" target="mainFrame" >本月止累计值占比</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
               		<li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnnonprojamount?choice=linkrelative" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef8','','$base/templates/image/leftf03-2.jpg',1)"><img src="$base/templates/image/leftf03-2.jpg" name="Imagef8" width="37" height="37" border="0" id="Imagef8" /></a><a href="$base/entryjnnonprojamount?choice=linkrelative" target="mainFrame" >本月累计值环比</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
 					<li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnnonprojamount?choice=yetlinkrelative" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef8','','$base/templates/image/leftf03-2.jpg',1)"><img src="$base/templates/image/leftf03-2.jpg" name="Imagef8" width="37" height="37" border="0" id="Imagef8" /></a><a href="$base/entryjnnonprojamount?choice=yetlinkrelative" target="mainFrame" >本月止累计值环比</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
 				</ul>
		</li>
		<!--非工业类===========================结束==========================-->
    #set($temp1=0)
	#foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='f3')
		  #set($temp1=1)
			<li><a href="#Menu=ChildMenuf3" onclick="DoMenu('ChildMenuf3')">项目汇总统计</a>
		 				<ul id="ChildMenuf3" class="collapsed">
		#end
	 #end
     #foreach($temp in $session.getAttribute("reslist"))
		#if($temp.getResourceno()=='f31')
                     <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnprojectstat.action?choice=unit" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef9','','$base/templates/image/leftf21-1.gif',1)"><img src="$base/templates/image/leftf21.gif" name="Imagef9" width="37" height="37" border="0" id="Imagef9" /></a><a href="$base/entryjnprojectstat.action?choice=unit" target="mainFrame" >按填报机构</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
              #end  
              #if($temp.getResourceno()=='f32')    
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnprojectstat.action?choice=month" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef10','','$base/templates/image/leftf22-1.gif',1)"><img src="$base/templates/image/leftf22.gif" name="Imagef10" width="37" height="37" border="0" id="Imagef10" /></a><a href="$base/entryjnprojectstat.action?choice=month" target="mainFrame" >按填报月份</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
             #end  
              #if($temp.getResourceno()=='f33')   
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnprojectstat.action?choice=percent" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef11','','$base/templates/image/leftf23-1.gif',1)"><img src="$base/templates/image/leftf23.gif" name="Imagef11" width="37" height="37" border="0" id="Imagef11" /></a><a href="$base/entryjnprojectstat.action?choice=percent" target="mainFrame" >本月累计值占比</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
               #end   
               #if($temp.getResourceno()=='f34')   
                    <li>
     					<table width="98%" border="0" cellspacing="0" cellpadding="0">
          					<tr>
            					<td align="center"><a href="$base/entryjnprojectstat.action?choice=yetpercent" target="mainFrame"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Imagef12','','$base/templates/image/leftf23-1.gif',1)"><img src="$base/templates/image/leftf23.gif" name="Imagef12" width="37" height="37" border="0" id="Imagef12" /></a><a href="$base/entryjnprojectstat.action?choice=yetpercent" target="mainFrame" >本月止累计值占比</a>
                                </td>
         					 </tr>
      
    					</table>
 
 					</li>
               #end   
        #end
		#if($temp1==1)
				</ul>
			</li>
		#end
        
    
#end



</ul>
</div>
    <div id="ly" style="position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #999;      
        z-index: 2; left: 0px; display: none;">     
    </div> 
</body>
</html>
