<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<link href="css/top.css" rel="stylesheet" type="text/css" />
</head>
<body >

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td  class="logo_01">&nbsp;</td>
    <td align="right">
    
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>

    <td align="right" class="gly"><img src="image/gly.gif" alt="管理员" />您好：<span class="hong">$!sysuser.getUserxm()</span>&nbsp;&nbsp;<script>
var d = new Date();
var ymd = d.getFullYear() + "年" + (d.getMonth()+1) + "月" + d.getDate() + "日", week = ['日', '一', '二', '三', '四', '五', '六'];
document.write("" + ymd +"  " + "星期" + week[d.getDay()] + "");
</script></td>
  </tr>
  <tr>
    <td align="right" class="bottom">
    <a href="../gohome.action"  target="mainFrame"><img src="image/1_05_1.gif"  /></a> <a href="../userpwdentry.action"  target="mainFrame"><img src="image/1_05.gif"/></a><a href="../alentry.action" target="_parent"><img src="image/1_07.gif" /></a>
    </td>
    </tr>
   </table>
   </td>
  </tr>
</table>



<div id="north-div" class="topbody">
	  
		<div class="menu">
				
			<div class="nav" id="nav">
				 <ul style="list-style-type:none;">
					#foreach($temp in $session.getAttribute("reslist"))
                     #if($temp.getPresourceno()=="0")
					 <li ><a href="../loginleft.action?resourceid=${temp.getResourceno()}" target="leftFrame"  >$temp.getResourcename()</a></li>
                     #end
					#end
				</ul>
			</div><!--end nav-->		
			
<script language="JavaScript">
function scroll(n)
{
	temp=n;
	if (temp==0) {return;}
	nav.scrollLeft=nav.scrollLeft+temp;
	setTimeout("scroll(temp)",15);
}
</script>	
        </div>
</div>
</body>
</html>
