<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>潍坊市工业经济运行调度分析监测系统</title>
<script>

self.moveTo(0,0);
self.resizeTo(screen.availWidth,screen.availHeight);
	$E=$ = function () {
  var elements = new Array();

  for (var i = 0; i < arguments.length; i++) {
    var element = arguments[i];
    if (typeof element == 'string'){
      element = document.getElementById(element);
   }
    if (arguments.length == 1) 
      return element;

    elements.push(element);
  }

  return elements;
}

function changeDisplayMode(){
	if($E("mainFra").cols=="205,8,*"){
		$E("mainFra").cols="0,8,*"; 
		//$E("icoFra").contentWindow.document.all.ioncs.class="suojin2"
		g_displayMode=1;
	
	}else{
		$E("mainFra").cols="205,8,*"
		//$E("icoFra").contentWindow.document.all.ioncs.class="suojin1"
		g_displayMode=0;
	}
}

</script>
</head>

<frameset rows="98,*,0" frameborder="no" border="0" framespacing="0">
  <frame src="templates/top.vm" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset cols="205,8,*" frameborder="no" border="0" framespacing="0"id="mainFra">
    <frame src="templates/left.vm" name="leftFrame"  scrolling="yes" noresize="noresize" id="leftFrame" title="leftFrame" />
    <frame src="templates/mid.html" name="midFrame" frameborder="no" scrolling="No" noresize="noresize" id="midFrame" title="midFrame" />
    <frame src="templates/main.jsp" name="mainFrame" frameborder="no" id="mainFrame" title="mainFrame" />
  </frameset>
  
</frameset>
<noframes>
<body>
</body>
</noframes>
</html>
