<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HTML>
 <HEAD>
  <TITLE>土地资源和资金监管信息系统 </TITLE>
  <meta http-equiv="x-ua-compatible" content="ie=7" /> 
  <meta http-equiv="content-type" content="text/html; charset=gbk">
  <link href="templates/JQuery-zTree-v3.2/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="templates/jquery-easyui-1.2.5/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="templates/JQuery-zTree-v3.2/js/jquery.ztree.core-3.2.js"></script>

<script>
$(function(){
	var curMenu = null, zTree_Menu = null;
	var zNodes = [$request.getAttribute("treeListstr")];
	
	var setting = {
		view: {
			showLine: true,
			selectedMulti: false,
			dblClickExpand: false
		},
		data: {
			simpleData: {
				enable: true
			}
		},
		callback: {
			beforeClick: zTreeBeforeClick
		}
	};
	function zTreeBeforeClick(treeId, node) {
			
				if (node.level === 0) {//是顶级节点
					var othernodes = zTree_Menu.getNodesByFilter(function(n) {
						return (n.level == 0 && n.tId != node.tId);
					}); // 查找其他节点集合
					
					jQuery.each(othernodes, function(i) {
						$("#" + othernodes[i].tId + "_a").removeClass("cur");
						zTree_Menu.expandNode(othernodes[i], false);
					});
					
					$("#" + node.tId + "_a").addClass("cur");
					zTree_Menu.expandNode(node, true);
					
				} else {
					zTree_Menu.expandNode(node);
				}
			return !node.isParent;
	}
	jQuery.fn.zTree.init($("#treedw"), setting, zNodes);//初始化树对象
	zTree_Menu = jQuery.fn.zTree.getZTreeObj("treedw");
	//curMenu = zTree_Menu.getNodes()[0].children[0].children[0];
	
}); 
</script>
<style type="text/css">
.ztree LI A.level0 {
	TEXT-ALIGN: left;
	background-image: url("templates/image/menu_btn_bg-2.gif");
	background-repeat: no-repeat;
	
	DISPLAY: block;
	HEIGHT: 24px;
	width: 197px;
	BORDER-BOTTOM: 0px solid #fff;
}

.ztree LI A.cur.level0 {
	background-image: url("templates/image/menu_btn_bg-1.gif");
	background-repeat: no-repeat;
}
.ztree LI A.level0 SPAN {
	DISPLAY: block;
	COLOR: #000;
	FONT-SIZE: 12px;
	WORD-SPACING: 2px;
	PADDING-TOP: 3px
}
.ztree LI A.level0 SPAN.button {
	FLOAT: left;
	VISIBILITY: visible;
	MARGIN-LEFT: 10px;
	MARGIN-TOP: 2px;
}
.ztree LI SPAN.level0.switch.button {
	DISPLAY: none
}
</style>
</head>

<body >
<ul id="treedw" class="ztree" style = "margin-left:-6px; margin-top:-12px;"></ul> 
</body>
</html>