<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link href="css/main.css" rel="stylesheet" type="text/css" />

<style type="text/css">
<!--
.STYLE1 {font-family: "宋体";font-size:16px}
-->
</style>
</head>
<body >
<div class="position">当前位置：系统提示</div>
<br />

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableout">
      <tr>
        <td >
		<fieldset > 
		
								  <div align="center"><br>
								    
								        <table border="0" cellpadding="0" cellspacing="0"  background="image/wrong.gif" width="430" height="135">
								          <tr>
								            <td width="144">
							                  <div align="center" class="STYLE1">
							                    <div align="right"><img src="image/exit.gif" />								  </div>
								    </div></td>
								  <td width="286"><div align="left">登录已过期，请退出重新登录！</div></td>
								  </tr>
								          <tr >
								            <td colspan="2" >
							                  <div align="center"><a  href="../alentry.action" target="_parent" class="STYLE1">退 出</a>								          </div></td>
                                        </tr>
						                                        </table>
	    </div>
		</fieldset></td>
      </tr>
</table>

</body>
</html>
