<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<HTML>
 <HEAD>
  <meta http-equiv="content-type" content="text/html; charset=gbk">
  <link href="templates/css/main_top.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="templates/jquery-easyui-1.2.5/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="templates/jquery-easyui-1.2.5/themes/icon.css">
 	<script type="text/javascript" src="templates/jquery-easyui-1.2.5/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="templates/jquery-easyui-1.2.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="templates/sys/js/permission_list.js"></script>
    
</head>
<body class="easyui-layout">
 <div region="center" title="系统管理>>权限管理" split="false" style="height:500px;padding:0px;">
		  <table id="tList">
           </table>
            <form id="mForm" method="post">
                <div>
               <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list">
			  <tr>
				  <th>权限编码：</th>
				  <td><input name="permissionno" id="permissionno" type="text" class="input_text" size="36"  maxlength="20" />(<font class="hong">*</font>)                 
				    
					&nbsp;&nbsp;</td>
				</tr>
				 <tr>
				  <th>权限名称：</th>
				  <td><input name="permissionname" id="permissionname" type="text" class="input_text" size="36"  maxlength="20" />(<font class="hong">*</font>)  
				    
					&nbsp;&nbsp;</td>
				</tr>
				 
				 
				  <tr>
				  <th>资源：</th>
				  <td>
                  <select class="easyui-combotree" id="resourceid"  name="resourceid" url="$base/getresourcetree.action"  style="width:235px;"></select>(<font class="hong">*</font>)</td>
				</tr>
                 
				 <tr>
				  <th>动作：</th>
				  <td><select name="actionid" id="actionid" style="width:235px;">
                    <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
					 #foreach($temp in $session.getAttribute("permission_actionidsc"))
							    <option value="$temp.getBh()">$temp.getMc()</option>
							  #end
                  </select>(<font class="hong">*</font>)</td>
				</tr>
				<tr>
				  <th>父权限编码：</th>
				  <td><input name="ppermissionno" id="ppermissionno" type="text" class="input_text" size="36"  maxlength="20" />(<font class="hong">*</font>)                 
				    
					&nbsp;&nbsp;</td>
				</tr>
				<br />	
			</table>
               </div>
            </form>
            
            
           
    <div id="add" class="easyui-window"  modal="true"  title="添加" style="top:50px;padding: 10px;width: 500px;"
    iconCls="icon-add" closed="true" maximizable="false" minimizable="false" collapsible="false">
     <div id="aa">
     </div>
     <br>
     <div align="center">
     <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)" onClick="add()">保存</a>
     <a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onClick="close1()">取消</a>
   	 </div>
    </div>
    <div id="edit" class="easyui-window" modal="true"  title="修改" style="top:50px;padding: 10px;width: 500px;"
    iconCls="icon-edit" closed="true" maximizable="false" minimizable="false" collapsible="false">
     <div id="ee">
     </div>
     <br>
      <div align="center">
     <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)" onClick="edit()">修改</a>
     <a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onClick="close2()">取消</a>
    </div>
    </div>
    <div id="query" class="easyui-window"  modal="true"  title="查询" style="top:50px;padding: 10px;width: 400px;"
    iconCls="icon-search" closed="true" maximizable="false" minimizable="false" collapsible="false">
      <div>
      <form id="qForm" method="post">
      
       <input type="hidden" name="hql" value="${hql}">
                <div>
                <table border="0" cellspacing="0" cellpadding="6" style="width:auto" class="list">
                        <tr>
                            <th>权限名称：</th>
                            <td><input name="qpermissionname"  id="qpermissionname" type="text" class="input_text"  maxlength="20" style="width:180px;"/></td>
                            
                        </tr>
                </table>
               
               </div>
               <br>
               <div align="center">
               <a class="easyui-linkbutton" iconCls="icon-search" href="javascript:void(0);" onClick="query()">查询</a>
               </div>
            </form>
      
      
     </div>
    </div>
</div>

       
</body>
 <script language="javascript" src="templates/js/util.js" ></script>
</html>