<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<HTML>
 <HEAD>
  <TITLE> ZTREE DEMO </TITLE>
  <meta http-equiv="content-type" content="text/html; charset=gbk">
  <link href="templates/css/main_top.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="templates/jquery-easyui-1.2.5/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="templates/jquery-easyui-1.2.5/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="templates/jquery-easyui-1.2.5/themes/combo.css"> 
	<script type="text/javascript" src="templates/jquery-easyui-1.2.5/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="templates/jquery-easyui-1.2.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="templates/sys/js/role_list.js"></script>
</head>
<body class="easyui-layout">
 <div region="west" title="角色管理" split="true" style="width:480px;height:100%;padding1:1px;overflow:hidden;">
			<table id="tList">
           </table>
           <form id="mForm"  method="post">
              <div >
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list">
				 <tr>
				  <th>角色名称：</th>
				  <td>
                  <input name="rolename" id="rolename" type="text"  size="36"  maxlength="50" />(<font class="hong">*</font>)                  </td>
				</tr>
				<th>标题：</th>
				  <td><input name="title" id="title" type="text"  size="36"  maxlength="50" />
                  </td>
				 <tr>
				  <th>类型：</th>
				  <td><select name="type" id="type"   style="width:268px;">
                    <option value=""></option>
					 #foreach($temp in $session.getAttribute("role_typesc"))
							    <option value="$temp.getBh()">$temp.getMc()</option>
							  
							  #end
                  </select>	</td>
				</tr>
				<tr>
				  <th>所属机构：</th>
				  <td><select id="deptno" name="deptno"  class="easyui-combotree"  style="width:268px">       	  
                  	  </select></td>
				</tr>
				
				<tr>
				  <th>简介：</th>
				  <td><textarea name="description" id="description" cols="36" rows="5"  ></textarea>
					&nbsp;&nbsp;</td>
				</tr>
				<br />
				
				
			</table>
                       </div>
                       <br/>
                    </form>
    <div id="add" class="easyui-window" modal="true" title="添加" style="top:50px;padding: 10px;width: 600px;"
    iconCls="icon-add" closed="true" maximizable="false" minimizable="false" collapsible="false">
     <div id="aa">
     </div>
      <div align="center">
     <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)" onClick="add()">添加</a>
     <a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onClick="close1()">取消</a>
     </div>
    </div>
    
    <div id="edit" class="easyui-window" modal="true"  title="修改" style="top:50px;padding: 10px;width: 600px;"
    iconCls="icon-edit" closed="true" maximizable="false" minimizable="false" collapsible="false">
     <div id="ee">
     </div>
     <br>
      <div align="center">
     <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)" onClick="edit()">修改</a>
     <a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onClick="close2()">取消</a>
    </div>
    </div>
    
    <div id="view" class="easyui-window" modal="true"  title="详情" style="top:50px;padding: 10px;width: 600px;"
    iconCls="icon-find" closed="true" maximizable="false" minimizable="false" collapsible="false">
    <div id="dd">
     </div>
	<br>
      <div align="center">
     <a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onClick="close3()">关闭</a>
    </div>
    </div>
    
  </div>
  <div region="center" title="角色权限"  style="overflow:hidden;">
					
					<table id="tList_permission">
			         </table>
					
			 <form id="mForm_permission" method="post">
             			 <div>
			    <table width="90%" border="0" cellpadding="0" cellspacing="0"
						class="list">			     
			       <tr>
                	  <th>权限名称：</th>
                	  <td ><select id="permissionid" name="permissionid"  class="easyui-combotree" multiple="true" cascadeCheck="false"  style="width:268px">       	  
                  	  </select><a class="easyui-linkbutton" iconCls="icon-reload" href="javascript:void(0)" onClick="getSelTree();">提取</a>(<font class="hong">*</font>)
                	  </td>
                  </tr>		
			    </table>
			  </div>
			</form>
			<div id="add_permission" class="easyui-window" modal="true" title="添加" style="top:50px;padding: 10px;width:500px;"
            iconCls="icon-add" closed="true" maximizable="false" minimizable="false" collapsible="false">
             <div id="aa_permission">
             </div>
             <br/>
             <div align="center">
             <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)" onClick="add_permission()">添加</a>
             <a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onClick="close1_permission()">取消</a>
             </div>
             <br/>
            </div>
          	
		</div>
<script language="javascript" src="templates/js/util.js" ></script>
       
</body>
 
</html>