<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<HTML>
 <HEAD>
  
  <meta http-equiv="content-type" content="text/html; charset=gbk">
  <link href="templates/css/main_top.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="templates/jquery-easyui-1.2.5/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="templates/jquery-easyui-1.2.5/themes/icon.css">
	<script type="text/javascript" src="templates/jquery-easyui-1.2.5/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="templates/jquery-easyui-1.2.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="templates/sys/js/resource_list.js"></script>


</head>
<body class="easyui-layout">
 <div region="center" title="系统管理>>资源管理" split="false" style="height:500px;padding:0px;">
		  <table id="tList">
           </table>
            <form id="mForm" method="post">
                <div>
                 <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list">
			     <tr>
				  <th>资源编码：</th>
				  <td><input name="resourceno" id="resourceno" type="text" class="input_text" size="36" maxlength="50"/>
			       (<font class="hong">*</font>)</td>
				</tr>
				
				<tr>
				  <th>资源名称：</th>
				  <td><input name="resourcename" id="resourcename" type="text" class="input_text" size="36" maxlength="50"/>
			      (<font class="hong">*</font>)</td>
				</tr>
				 <tr>
				  <th>父资源编码：</th>
				  <td><input name="presourceno" id="presourceno" type="text" class="input_text" size="36" maxlength="50"/>
			       (<font class="hong">*</font>)</td>
				</tr>
				<tr>
				  <th>资源类型：</th>
				  <td><select name="type" id="type"  style="width:235px;">
				   <option value=""></option>
				    #foreach($temp in $session.getAttribute("resource_typesc"))
                   <option value="$temp.getBh()">$temp.getMc()</option>
					#end
                  </select>
			      (<font class="hong">*</font>)</td>
				</tr>
				<tr>
				  <th>URL链接：</th>
				  <td><input name="link" id="link" type="text" class="input_text" size="36" maxlength="100" />
					</td>
				</tr>
				
				
			  </table>
               </div>
            </form>
            
            
           
    <div id="add" class="easyui-window"  modal="true"  title="添加" style="top:50px;padding: 10px;width: 500px;"
    iconCls="icon-add" closed="true" maximizable="false" minimizable="false" collapsible="false">
     <div id="aa">
     </div>
     <br>
     <div align="center">
     <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)" onClick="add()">保存</a>
     <a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onClick="close1()">取消</a>
   	 </div>
    </div>
    <div id="edit" class="easyui-window" modal="true"  title="修改" style="top:50px;padding: 10px;width: 500px;"
    iconCls="icon-edit" closed="true" maximizable="false" minimizable="false" collapsible="false">
     <div id="ee">
     </div>
     <br>
      <div align="center">
     <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)" onClick="edit()">修改</a>
     <a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onClick="close2()">取消</a>
    </div>
    </div>
    <div id="query" class="easyui-window"  modal="true"  title="查询" style="top:50px;padding: 10px;width: 500px;"
    iconCls="icon-search" closed="true" maximizable="false" minimizable="false" collapsible="false">
      <div>
      <form id="qForm" method="post">
      
       <input type="hidden" name="hql" value="${hql}">
                <div>
                 <table border="0" cellspacing="0" cellpadding="0" style="width:auto" class="list">
												<tr>
													<th>资源名称：</th>
													<td><input name="qresourcename" id="qresourcename" type="text" class="input_text" value="$!qresourceName"/>&nbsp;&nbsp;</td>
													<th>资源类型：</th>
													<td>
													<select name="qtype" id="qtype">
				   <option value="%">----------</option>
				    #foreach($temp in $session.getAttribute("resource_typesc"))
					#if($qtype==$temp.getBh())
                   <option value="$temp.getBh()" selected="selected">$temp.getMc()</option>
				   #else
				   <option value="$temp.getBh()">$temp.getMc()</option>
				   #end
					#end
                  </select>	 
				                                     </td>
													
												</tr>
												</table>
               </div>
               <br>
               <div align="center">
               <a class="easyui-linkbutton" iconCls="icon-search" href="javascript:void(0);" onClick="query()">查询</a>
               </div>
            </form>
      
      
     </div>
    </div>
</div>

       
</body>
 <script language="javascript" src="templates/js/util.js" ></script>
</html>