<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

<link href="templates/uploadify-v3.1/uploadify.css" rel="stylesheet" type="text/css" />
<script src="templates/jquery-easyui-1.2.5/jquery-1.7.1.min.js"></script>
<script src="templates/uploadify-v3.1/jquery.uploadify-3.1.min.js"></script>
<script src="templates/upload/js/upload_list.js"></script>
</head>

<body>


			<table border="0" cellspacing="3" cellpadding="0" class='list_001'><tr>
          	<td><input id="video1" name="video1" type="text" class="input_text" size="20"  maxlength="50" /></td>
          	<td><div><input id="file_upload_1" type="file" name="file_upload" /></div></td>
          	<td><input id="video1" name="video1" type="text" class="input_text" size="20"  maxlength="50" /></td>
          	</tr></table>
</body>
</html>
