<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
<link href="../../css/main.css" rel="stylesheet" type="text/css" />
<script src="../../js/tdcolor.js" type="text/javascript"></script>
<script type="text/javascript">
var tableidArray = new Array('table1');
onloadEvent(showtable);
</script>

</head>

<body>
	<div class="position">当前位置：<a href="#">能源利用状况报告</a></div>
	
	<ul class="list2">
		<li>
			<a href="../companySearchEnyRpt">
				<img src="../image/list1.jpg" width="80" height="80" />
				<h1>1.基本情况查询</h1>
				<p>&nbsp;</p>
			</a>		
		</li>
		
		<li>
			<a href="../consumptionStructurEnyRpt">
				<img src="../image/list2.jpg" width="80" height="80" />
				<h1>2.能源消费结构表</h1>
				<p>表2-1：能源消费结构附表</p>
			</a>		
		</li>
		
		<li>
			<a href="#">
				<img src="../image/list3.jpg" />
				<h1>3.能源实物平衡表</h1>
				<p title="填报能源在重点用能单位内部各个生产环节的能源统计数据，并计算能源损耗情况。是对重点用能单位内部能源利用分配情况的综合反映，同时对用能单位能耗数据真实性进行校对。">填报能源在重点用能单位内部各个生产环节的能源统计数据，并计算能源损...</p>
			</a>		
		</li>
		
		<li>
			<a href="../unitProductEnyRpt">
				<img src="../image/list4.jpg" />
				<h1>4.单位产品综合能耗指标情况表</h1>
				<p title="填报单位产品综合能耗以及与上年期比较的变化情况。
附：表4-1：产品能耗分摊汇总表">填报单位产品综合能耗以及与上年期比较的变化情况。附...</p>
			</a>		
		</li>
		
		<li>
			<a href="#">
				<img src="../image/list5.jpg" />
				<h1>5.影响单位产品（产值）能耗变化因素的说明</h1>
				<p title="是对表4能耗指标变化原因进行分析和简短说明">是对表4能耗指标变化原因进行分析...</p>
			</a>		
		</li>
		
		<li>
			<a href="../savingCompleteEnyRpt">
				<img src="../image/list6.jpg" />
				<h1>6.节能目标完成情况</h1>
				<p>用能单位“十一五”期间节能目标逐年完成情况。</p>
			</a>		
		</li>
		
		<li>
			<a href="#">
				<img src="../image/list7.jpg" />
				<h1>7.节能目标责任评价考核表</h1>
				<p title="根据《国务院批转节能减排统计监测及考核实施方案和办法的通知》（国发[2007]36号）要求，重点用能单位对节能目标完成情况进行自评。">根据《国务院批转节能减排统计监测及考核实施方案和办...</p>
			</a>		
		</li>

		<li>
			<a href="#">
				<img src="../image/list8.jpg" />
				<h1>8.主要耗能设备状况表</h1>
				<p title="对主要耗能设备（通用设备、专用设备）概况、运行情况、淘汰更新情况等进行说明。
附：表8-1：企业能源计量仪表设备和管理情况表
      表8-2：企业能源管理和重点用能设备操作人员培训情况汇总表
">对主要耗能设备（通用设备、专用设备）概况、运行情况...</p>
			</a>		
		</li>

		<li>
			<a href="#">
				<img src="../image/list9.jpg" />
				<h1>9.合理用能国家标准执行情况表</h1>
				<p>根据合理用热、合理用电国家标准对用能情况进行自评。</p>
			</a>		
		</li>

		<li>
			<a href="#">
				<img src="../image/list10.jpg" />
				<h1>10.规划期节能技术改造项目列表</h1>
				<p title="包括项目类别、名称、改造措施、投资金额、时间安排以及预期节能效果等。">包括项目类别、名称、改造措施、投资金额、时间安排以...</p>
			</a>		
		</li>

		<li>
			<a href="#">
				<img src="../image/list11.jpg" width="80" height="80" />
				<h1>11.与上年相比节能项目变更情况表</h1>
				<p>与上一年相比，节能项目的变更情况以及变更原因。</p>
			</a>		
		</li>

		<li>
			<a href="#">
				<img src="../image/list12.jpg" />
				<h1>12.新建改建扩建项目情况表</h1>
				<p>&nbsp;</p>
			</a>		
		</li>

		<li>
			<a href="#">
				<img src="../image/list13.jpg" />
				<h1>13.企业用水统计表</h1>
				<p>&nbsp;</p>
			</a>		
		</li>

		<li>
			<a href="#">
				<img src="../image/list14.jpg" />
				<h1>14.企业总产值表</h1>
				<p>&nbsp;</p>
			</a>		
		</li>
	</ul>
    
</body>
</html>
